# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
flask_web/venv/
flask_web/models/*.keras
flask_web/models/*.pkl

# IDE
.vscode/
.idea/
.gemini/

# Temporary Excel files
~$*
*.tmp

# Large files
flask_web/models_deprecated/
models_deprecated/

flask_web/services/db_connect.py
services/db_connect.py

